* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-shadow: -1px -1px 0 whitesmoke;
    background-color: rgba(255, 132, 0, 0.7);
    text-align: center;
}

h2, h3, h4, h5, h6 {
    text-shadow: -1px -1px 0 #777;
}

li {
    color: #555;
}

.recipe-link {
    text-align: center;
}

.source {
    background-color: rgba(64, 224, 208, 0.693);
}

img.dish {
    height: 500px;
    width: auto;
    
}

p.description {
    font-size: larger;
}